<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>harmful_mouse_0_death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{0,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>harmful_mouse_1_death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{200,0},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kind_mouse_0_death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,300}</string>
                <key>spriteSourceSize</key>
                <string>{250,300}</string>
                <key>textureRect</key>
                <string>{{0,600},{250,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kind_mouse_1_death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{0,300},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_0_death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,300}</string>
                <key>spriteSourceSize</key>
                <string>{200,300}</string>
                <key>textureRect</key>
                <string>{{200,300},{200,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animal_death.png</string>
            <key>size</key>
            <string>{400,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edc2e53abb8755e9f0f1645a9170f49a:487ffc8c8a66bc1bb7c3494dd1d05a0f:45f56dbc1c8d82805a1fb176f9a57c6a$</string>
            <key>textureFileName</key>
            <string>animal_death.png</string>
        </dict>
    </dict>
</plist>
