<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{104,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{104,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{104,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{1,43},{104,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{104,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{1,85},{104,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{1,127},{70,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{1,169},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{1,211},{108,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{1,253},{108,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{1,295},{108,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{104,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{1,337},{104,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{104,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{1,379},{104,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start-9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,40}</string>
                <key>spriteSourceSize</key>
                <string>{108,40}</string>
                <key>textureRect</key>
                <string>{{1,421},{108,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>star.png</string>
            <key>size</key>
            <string>{110,462}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60d5648db35bd564ee905d8c20ab99eb:93d0f2cec75e2ab6bc47469c108b56b6:3529feb3fcfae6daa554c62bd8c6844e$</string>
            <key>textureFileName</key>
            <string>star.png</string>
        </dict>
    </dict>
</plist>
